* {
    padding: 0;
    margin: 0;
    font-family: "Segoe UI Light";
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-content {
    display: flex;
    flex-direction: column;
    border: 1px solid navy;
    width: 75%;
}

h1 {
    text-align: center;
    padding: 10px;
    background-color: navy;
    color: white;
}

.first-name, .last-name {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.name, .hardware, .buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 85%;
    border: 1px solid navy;
    margin: 50px auto;
    padding: 10px;
    text-align: center;
}

.make, .model, .serial-number {
    display: flex;
    flex-direction: column;
    text-align: left;

}

button {
    width: 25%;
    margin: 10px;
    padding: 10px;
    background-color: navy;
    color: white;
    border-radius: 15px;
    letter-spacing: .75rem;

}

label {
    font-size: .6rem;
}

input {
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid black;
}

input:focus {
    outline: none;
    border: none;
}













.modal {
    display: none;
    position: fixed; 
    padding-top: 50px;
    left: 0; 
    top: 0;
    width: 100%;
    height: 100%; 
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
  }
  .modal-content {
    position: relative; 
    background-color: white;
    padding: 20px; 
    margin: auto; 
    width: 75%;  
    /* -webkit-animation-name: animatetop; */
    /* -webkit-animation-duration: 0.4s; */
    /* animation-name: animatetop; */
    /* animation-duration: 0.4s */
  }
  .close-btn {
    float: right; 
    color: lightgray; 
    font-size: 24px;  
    font-weight: bold;
  }
  .close-btn:hover {
    color: darkgray;
  }
  
  /* @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  } */
























@media screen and (max-width: 768px) {

    .container {
        height: 100vh;
    }

    .main-content, .first-name, .last-name, .name, .hardware, .buttons {
        width: 100%;

    }
}

@media screen and (max-width: 575px) {
    .main-content, .first-name, .last-name, .name, .hardware, .buttons {
        display: flex;
        flex-direction: column;
        width: 90%;
    }
}
